/******
* Name: ImgFoldr Dark
* Author: Francis Baker
* Repo: https://github.com/Baker/Userscripts
* Version: 1.0 
******/


@-moz-document domain(imgfoldr.com) {
    html, body{
	background: #101010 !important;
	color: #c5c5c5;
    }
    .jumbotron {
        background: #222 !important;
        color: #c5c5c5;
    }
    .header {
        background: #101010 !important;
        color: #c5c5c5;
    }
    .thumbnail {
        background: #222 !important;
        color: #c5c5c5;
        border: 1px solid #ddd;
    }
    .folder_name {
        color: white;
    }
}
